/* 参照 */
@use "../global" as g;

/* base
--------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	line-height: 1.6;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	color: g.$color-base;
	background-color: g.$color-black;
	font-size: 1.6rem;
	font-family: g.$font-family;
	min-width: 350px;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
	width: 100%;
	overflow-x: hidden;
}

video,
object {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
	/* 画像の枠線のグラデーション */
	border: 1px solid g.$color-accent-1;
	border-image: linear-gradient(to right, g.$color-accent-1 0%, g.$color-accent-2 100%);
    border-image-slice: 1;
}
a {
	color: #0066c0;
	text-decoration: none;
	transition: 0.4s;
}
a:hover {
	opacity: 0.8;
}
