//SCSS Document
/* 参照 */
@use "../global" as g;

/* SP */
/* FV 動画 */
.p-FV {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 100px;

    &__pc {
        display: none;
    }

    &__SP {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__attention {
        position: absolute;
        bottom: 55px;
        left: 0;
        width: 100%;
        text-align: center;


    }

    &__line-vertical {
        position: absolute;
        bottom: -100px;
        left: 50%;
        width: 1px;
        height: 150px;
        background-color: g.$color-base;
    }
}

/* トップメッセージ */
.p-top-message {
    &__content {
        height: 100vh;
        background-image: url("/assets/image/top/entrance_SP.jpg");
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
    }

    &__title {
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 32px;
        font-size: 3.2rem;
    }

    &__sub-title {
        display: inline-block;
        padding-bottom: 24px;
        text-align: left;
        font-size: 1.8rem;
    }

    &__description {
        display: inline-block;
        width: 90%;
        text-align: left;
        font-size: 1.4rem;
    }
}

/* ニュース（使いまわすかも） */
.p-news {
    display: block;

    &__line {
        margin: 0 auto;
        width: 90%;
        border-bottom: 1px solid g.$color-base;
    }

    &__list {
        li {
            padding-top: 24px;
            display: inline-block;
            text-align: left;

            time {
                padding: 20px 0 20px 20px;
            }

            h3 {
                margin: 0 auto;
                padding: 20px 0;
                width: 90%;
                font-size: 1.4rem;
            }
        }
    }

    &__display {
        display: inline-block;
        padding: 24px 0;
        font-size: 1.2rem;
        padding: 0 0.3rem;
        color: g.$color-accent-3;
        background-color: g.$color-base;
    }
}

/* リッチボタンとあしらい */
.c-decoration {
    position: relative;
    padding-top: 32px;
    margin-bottom: 80px;
    width: 95%;
    display: block;
    text-align: right;

    &__line {
        position: absolute;
        bottom: 10px;
        left: 15%;
        width: 200px;
        height: 1px;
        background: linear-gradient(to right, g.$color-accent-1, g.$color-base);
    }

    &__btn {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        font-size: 1.6rem;
        padding: 0.2rem 2rem;
        width: 300px;
    }

    &__btn::before {
        transform: skewX(25deg);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border: 1px solid g.$color-base;
        border-image: linear-gradient(to right, g.$color-base 0%, g.$color-accent-2 100%);
        border-image-slice: 1;
        background-color: g.$color-black;
    }
}

/* トップ画面メニュー */
.c-menu {
    &__list {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;

        li {
            width: 45%;
            font-size: 1.4rem;
            text-align: left;
            margin-bottom: 20px;

            h4 {
                padding-top: 8px;
                padding-bottom: 16px;
            }
        }

    }
}

/* トップ画面タイトル */
.c-title {
    padding-bottom: 40px;

    h2 {
        text-align: center;
        padding-bottom: 8px;
        font-size: 3.2rem;
    }

    img {
        margin: 0 auto;
        border: none;
        height: 10px;
    }
}

/* コンセプト */
.p-concept {
    display: block;
    text-align: center;

    &__image-list {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 90%;

        li {
            margin: 0 auto;
            padding-bottom: 40px;
        }
    }

    &__sub-title {
        display: inline-block;
        text-align: left;
        padding-bottom: 20px;
        font-size: 1.8rem;
    }

    p {
        display: inline-block;
        width: 90%;
        text-align: left;
        font-size: 1.4rem;
    }
}

/* Twitter */
.p-twitter {
    margin-bottom: 80px;

    &__timeline {
        display: none;
    }
}

/* アクセス */
.p-access {
    margin-bottom: 80px;

    &__content {
        width: 90%;
        margin: 0 auto;
    }

    &__logo {
        img {
            margin: 0 auto;
            padding-bottom: 24px;
            border: none;
            height: 80px;
        }
    }

    &__bar-name {
        width: 90%;
        text-align: left;
        font-size: 2.0rem;
        padding-bottom: 16px;
    }

    &__address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    &__address-title {
        display: inline-block;
    }

    &__address-detail {
        display: inline-block;
    }

    &__detail {
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    &__detail-title {
        display: inline-block;
    }

    &__detail-schedule {
        display: inline-block;
        text-align: right;
    }

    iframe {
        width: 90%;
        height: 300px;
    }
}

/* PC */
@include g.breakpoint(pc) {

    /* FV 動画 */
    .p-FV {
        width: 100%;
        height: 35vh;
        position: relative;
        margin-bottom: 100px;

        &__pc {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }

        &__SP {
            display: none;
        }

        &__attention {
            position: absolute;
            bottom: 55px;
            left: 0;
            width: 100%;
            text-align: center;


        }

        &__line-vertical {
            position: absolute;
            bottom: -100px;
            left: 50%;
            width: 1px;
            height: 150px;
            background-color: g.$color-base;
        }
    }

    /* トップメッセージ */
    .p-top-message {
        padding-bottom: 120px;
        &__content {
            height: 100vh;
            background-image: url("/assets/image/top/entrance.png");
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
            display: block;
            text-align: center;
        }

        &__title {
            margin: 0 auto;
            padding-top: 240px;
            padding-bottom: 32px;
            font-size: 8.0rem;
        }

        &__sub-title {
            margin: 0 auto;
            display: inline-block;
            padding: 56px 100px;
            text-align: left;
            line-height: 4.8rem;
            font-size: 3.2rem;
        }

        &__description {
            display: inline-block;
            width: 60%;
            text-align: left;
            line-height: 3.0rem;
            font-size: 2.0rem;
        }
    }

    /* ニュース（使いまわすかも） */
    .p-news {
        display: block;

        &__list {
            li {
                padding-top: 0;
                display: block;
                text-align: center;
                time {
                    padding: 30px;
                    font-size: 1.6rem;
                }

                h3 {
                    display: inline-block;
                    width: 50%;
                    padding: 48px 0;
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
        }

        &__display {
            display: inline-block;
            padding: 24px 0;
            font-size: 1.6rem;
            padding: 0 0.3rem;
            color: g.$color-accent-3;
            background-color: g.$color-base;
        }
    }

    /* コンセプト */
    .p-concept {
        display: block;
        text-align: center;
        

        &__image-list {
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            width: 90%;

            li {
                width: 45%;
                margin: 0 auto;
                padding-bottom: 40px;
            }
        }

        &__sub-title {
            padding: 56px 300px;
            font-size: 2.4rem;
            line-height: 3.6rem;
        }

        p {
            display: inline-block;
            width: 60%;
            text-align: left;
            font-size: 2.0rem;
        }
    }

    /* Twitter */
    .p-twitter {
        margin-bottom: 160px;

        &__timeline {
            display: block;
        }
        
        &__timeline-SP {
            display: none;
        }
    }

    /* アクセス */
    .p-access {
        margin-bottom: 160px;

        &__content {
            display: flex;
            flex-wrap: nowrap;
            width: 90%;
            margin: 0 auto;
        }

        &__logo {
            img {
                margin: 0 auto;
                padding-bottom: 24px;
                border: none;
                height: 100px;
            }
        }
        &__address-data {
            display: block;
        }
        &__bar-name {
            width: 30%;
            display: flex;
            text-align: left;
            font-size: 2.0rem;
            padding-bottom: 16px;
        }
        
        &__address {
            display: inline-block;
            flex-wrap: wrap;
            font-size: 1.6rem;
        }

        &__address-title {
            display: inline-block;
        }

        &__address-detail {
            display: inline-block;
        }

        &__detail {
            padding-bottom: 24px;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.6rem;
        }

        &__detail-title {
            display: inline-block;
        }

        &__detail-schedule {
            display: inline-block;
            text-align: right;
        }

        iframe {
            width: 90%;
            height: 600px;
        }
    }
}

/* PC */
/* COMPONENT */
@include g.breakpoint(pc) {

    /* リッチボタンとあしらい */
    .c-decoration {
        padding-top: 80px;
        margin-bottom: 200px;
        width: 94%;

        &__line {
            left: 35%;
            width: 650px;
        }

        &__btn {
            margin: 0 auto;
            font-size: 2.4rem;
            padding: 1.5rem 6.0rem;
        }
    }

    /* トップ画面メニュー */
    .c-menu {
        &__list {
            width: 90%;

            li {
                width: 20%;
                margin-bottom: 80px;

                h4 {
                    padding-top: 16px;
                    padding-bottom: 24px;
                    font-size: 1.6rem;
                }
            }

        }
    }

    /* トップ画面タイトル */
    .c-title {
        padding-top: 50px;
        padding-bottom: 96px;

        h2 {
            padding-bottom: 48px;
            font-size: 9.0rem;
        }

        img {
            height: 30px;
        }
    }
}