//SCSS Document
/* 参照 */
@use "../global" as g;

.l-footer {
    min-height: 300px;
    background-color: g.$color-black;
    padding: 30px 0;
    position: relative;
    &__logo {
        display: flex;
        justify-content: center;
        img {
            border: none;
            height: 60px;
        }
    }
    &__site-map {
        padding: 30px 0;
        ul {
        display: flex;
        justify-content: center;
                a {
                    font-size: 1.6rem;
                    color: g.$color-base;
                    padding: 0 15px;
                }
        }
    }
    &__copyright {
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        color: g.$color-gray;
    }
}
@include g.breakpoint(pc) {
.l-footer {
    padding: 50px 0 60px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
    }
    &__logo {
        img {
            height: 80px;
        };
    }
    &__site-map {
        padding: 0;
        ul {
        display: flex;
        justify-content: flex-end;
                a {
                    font-size: 2.4rem;
                    padding: 0 30px;
                }
        }
    &__copyright {
        bottom: 60px;
        font-size: 1.4rem;
    }
}
}
}