/* color
 ────────────────────────────── */
 $color-base: #f9f9f9;

 $color-main: #00a2ff;
 $color-main-100: #f6fff7;
 $color-main-200: #a0daa8;

 $color-accent-1: #8f1fee;
 $color-accent-2: #ffef00;
 $color-accent-3: #C50000;
 
 $color-gray: #707070;
 $color-black: #060d17;